jupyterhub
jupyter
git+https://github.com/yuvipanda/jupyterhub-dummy-authenticator.git#egg=jupyterhub-dummyauthenticator
git+https://github.com/yuvipanda/jupyterhub-simplespawner.git#egg=jupyterhub-simplespawner
